In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from datetime import datetime
import yfinance as yf

In [3]:
# Fetch Reliance stock data using Yahoo Finance
reliance = yf.download('RELIANCE.NS', start='2020-01-01', end='2022-01-01', progress=False)
reliance.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-01,1503.745972,1512.760498,1491.363403,1495.424927,1475.384155,6463060
2020-01-02,1497.802368,1526.480469,1497.802368,1520.883545,1500.501587,8173308
2020-01-03,1518.605103,1527.173950,1508.699097,1522.716187,1502.309814,9684434
2020-01-06,1505.727173,1513.552979,1483.933838,1487.400879,1467.467651,11315596
2020-01-07,1504.736572,1520.091064,1499.288208,1510.284058,1490.044189,7699489

In [4]:
# Checking for missing values
reliance.isnull().sum()

# Feature selection
data = reliance[['Close']]

# Creating a new column for prediction
forecast_out = 30  # Predict stock prices for the next 30 days
data['Prediction'] = data['Close'].shift(-forecast_out)

# Creating X and y datasets
X = np.array(data.drop(['Prediction'], 1))
X = X[:-forecast_out]
y = np.array(data['Prediction'])
y = y[:-forecast_out]

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

/tmp/ipykernel_8606/1166081619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Prediction'] = data['Close'].shift(-forecast_out)

TypeError: DataFrame.drop() takes from 1 to 2 positional arguments but 3 were given

In [ ]:
# Initialize and train the model (Linear Regression)
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions
predictions = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)